header{
    width: 30%;
}
div.navContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(190, 190, 190);
    height: 100vh;
    justify-content: center;
    border-radius: 0 30px 30px 0;
}
div.title h1{
    margin: 5% 0;
    font-family: 'roboto', sans-serif;
}
nav.menuNav{
    display: flex;
    flex-direction: column;
}
nav.menuNav a{
    margin: 0 2%;
    text-decoration: none;
    color:rgb(33, 33, 33)
}